/* DEFAULT SETTINGS GO HERE FOR THIS APPLICATION map-rnki
* ========================================================================== */


$white: #fff;
$light-gray: #dbdde0;
$dark-gray: #333;
$dark-blue: #273753;
$orange: #e74712;

$map-bg-map: $white;
$map-map-height: 900px;

$map-width-btn-close: 50px;
$map-info-icon: '\e916';

$map-bg-button: $white;
$map-bd-button: #ebebeb;

$map-thematic-color: #005ea8;
