@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
			.bodyTable {
				width:80% !important;
				background:blue !important;
				margin:0 auto;
			}
			table[class="bodyTable"] {
				width:80% !important;
				background:blue !important;
				margin:0 auto;
			}
			
			.container {
				width:80% !important;
			}
			table[class="container"]{
				width:80% !important;
			}
		}