@font-face {
    font-family: 'adellesans-regular-webfont';
    src: url('../fonts/adellesans-regular-webfont.eot');
    src: url('../fonts/adellesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adellesans-regular-webfont.woff') format('woff'),
         url('../fonts/adellesans-regular-webfont.ttf') format('truetype');
  speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'adellesans-semibold-webfont';
    src: url('../fonts/adellesans-semibold-webfont.eot');
    src: url('../fonts/adellesans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adellesans-semibold-webfont.woff') format('woff'),
         url('../fonts/adellesans-semibold-webfont.ttf') format('truetype');
   speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'adellesans-light-webfont';
    src: url('../fonts/adellesans-light-webfont.eot');
    src: url('../fonts/adellesans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adellesans-light-webfont.woff') format('woff'),
         url('../fonts/adellesans-light-webfont.ttf') format('truetype');
   speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesome.woff') format('woff'),
         url('../fonts/FontAwesome.ttf') format('truetype'),
         url('../fonts/FontAwesome.svg#bundessans_webbold') format('svg');
   speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
}