@font-face {
    font-family: 'BentonSans-Regular';
    src: url('../fonts/BentonSans-Regular.eot');
    src: url('../fonts/BentonSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BentonSans-Regular.woff') format('woff'),
         url('../fonts/BentonSans-Regular.ttf') format('truetype');
  speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'BentonSans-Bold';
    src: url('../fonts/BentonSans-Bold.eot');
    src: url('../fonts/BentonSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BentonSans-Bold.woff') format('woff'),
         url('../fonts/BentonSans-Bold.ttf') format('truetype');
   speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'MaterialIcons-Regular';
    src: url('../fonts/MaterialIcons-Regular.eot');
    src: url('../fonts/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MaterialIcons-Regular.woff') format('woff'),
         url('../fonts/MaterialIcons-Regular.ttf') format('truetype'),
         url('../fonts/MaterialIcons-Regular.svg#bundessans_webbold') format('svg');
   speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
}
