@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon/icomoon.eot?m10wrr');
  src:  url('../icomoon/icomoon.eot?m10wrr#iefix') format('embedded-opentype'),
    url('../icomoon/icomoon.ttf?m10wrr') format('truetype'),
    url('../icomoon/icomoon.woff?m10wrr') format('woff'),
    url('../icomoon/icomoon.svg?m10wrr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icomoon : 'icomoon';

.icon-map:before {
  content: "\e910";
}
.icon-add-to-calender:before { 
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-download:before {
  content: "\e904";
}
.icon-employee:before {
  content: "\e905";
}
.icon-extern-link:before {
  content: "\e906";
}
.icon-information:before {
  content: "\e907";
}
.icon-pause:before {
  content: "\e908";
}
.icon-pin:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e90a";
}
.icon-publication:before {
  content: "\e90b";
}
.icon-repeating-date:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-search-arrow:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-arrow-left3:before {
  content: "\e93e";
}
.icon-arrow-right3:before {
  content: "\e93f";
}
.icon-breadcrumb-arrow:before {
  content: "\e940";
}
.icon-calendar:before {
  content: "\e941";
}
.icon-check:before {
  content: "\e942";
}
.icon-companies:before {
  content: "\e943";
}
.icon-download2:before {
  content: "\e944";
}
.icon-dropdown-arrow-down:before {
  content: "\e945";
}
.icon-dropdown-arrow-up:before {
  content: "\e946";
}
.icon-economy-work:before {
  content: "\e947";
}
.icon-extern-link2:before {
  content: "\e948";
}
.icon-list:before {
  content: "\e949";
}
.icon-pin2:before {
  content: "\e94a";
}
.icon-politic-society:before {
  content: "\e94b";
}
.icon-print:before {
  content: "\e94c";
}
.icon-repeating-date2:before {
  content: "\e94d";
}
.icon-search2:before {
  content: "\e94e";
}
.icon-share:before {
  content: "\e94f";
}
.icon-top:before {
  content: "\e950";
}
.icon-youtube-play:before {
  content: "\e951";
}
