body {
    overflow-x: hidden;
    font-family: $font-family-primary;
    color: $main-color;
    font-size: 20px;
    line-height: normal;
}

header.navbar-default {
    background: $color-white;
}

.container-fluid {
    padding: 0;
}

p {
    line-height: 30px;
	a{
		line-height:normal;
	}
}

//-----------backend theme changes-----------//
/* .field-name-field-weitere-details, .field-name-field-zur-website {
    float: left;
    width: 50%;
} */

// Page title
.page-title {
    margin: 25px 0 30px;
    font-size: 44px;
}

//pagination

.text-center {
    text-align: left;
    clear: both;
    padding: 10px 0 40px 0;

    ul.pagination {
        margin: 0;
        padding: 0;

        li.pager-first, li.pager-last {
            display: none;
        }

        li.prev a {
            font-size: 0;
            top: 7px;

            &:before {
                font-family: $icomoon;
                content: "\e93e";
                color: $main-color;
                font-size: 14px;
                display: inline-block;
            }
        }

        li.next a {
            font-size: 0;
            top: 7px;

            &:before {
                font-family: $icomoon;
                content: "\e93f";
                color: $main-color;
                font-size: 14px;
                display: inline-block;
            }
        }

        > li > span {
            border: none;
            color: $main-color;
        }

        > li > a {
            color: $main-color;
            background: none;
            border: none;
            font-size: 26px;

            &.progress-disabled {
                float: left;
            }
        }

        > .active > a,
        > .active > a:hover,
        > .active > a:focus,
        > .active > span,
        > .active > span:hover,
        > .active > span:focus {
            background: none;
            color: $active-menu;
            font-size: 26px;
            border-bottom: 2px solid $active-menu;
            padding-bottom: 0;
			border-radius:0;
        }
    }
}

//breadcrumb

.breadcrumb {
    @extend .container;

    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background: none;
    border-radius: 0;

    .inline {
        // margin-right:10px;
        a {
            text-decoration: none;
            color: $main-color;
            font-size: 18px;
            border-bottom: 1px solid $color-light-grey;
            padding-bottom: 4px;
        }

        &.last {
            // margin-left:10px;
            border-bottom: 1px solid $active-menu;
            padding-bottom: 4px;
            font-size: 18px;

            a {
                // border-color: $active-menu;
           
            }
        }
    }

    .delimiter {
        font-size: 0;

        &:before {
            font-family: $icomoon;
            content: "\e940";
            color: $icons-color;
            font-size: 11px;
            margin: 0 10px;
            display: inline-block;
        }
    }
}

//dropdown

.select2-container {
    width: 290px !important;

    .select2-dropdown {
        border: 0;
        top: 10px;
        background: $header-dropdown-menu;

        .select2-results {
            height: 200px;
            color: $color-white;

            .simplebar-track .simplebar-scrollbar {
                background: $main-color;
            }

            ul.select2-results__options {
                height: auto;
                overflow: hidden;
                max-height: none;

                .select2-results__option {
                    padding-left: 20px !important;
                }
            }
        }

        .select2-search--dropdown {
            display: none;
        }
    }

    .select2-results__option[aria-selected=true] {
        background: 0;
    }

    .select2-results__option--highlighted[aria-selected] {
        background: $main-color;
    }
}

.container {
    @include devicebreak(x-large) {
        padding: 0;
    }
}

//-----------view-content-----------//

.view-neueste-informationen, .view-termin, .view-aktuelles, .view-neueste-digital-projekte, .view-alles-zum-thema, .view-search-list {
    .view-sub-wrapper {
        > .view-content {
            margin-left: -15px;
            margin-right: -15px;

            .views-row {
                @extend .col-md-4,.col-sm-6;

                .row-container {
                    background: $color-white;
                    padding: 30px;                    
                    margin-bottom: 30px;
                    position: relative;
                    border: 1px solid $color-white;
                    cursor: pointer;
                    transition: all 0.5s ease;
					height:410px;

                    &.project-blue {
                        background: $main-color;
						.views-field-title a{
						color:$color-white;
                    }
					  &:hover{
					  .views-field-title a{ color:$main-color;}
					  }
					}

                    &:hover {
                        background: $color-light-blue;
                        border: 1px solid $color-border;
                    }

                    .views-field-field-themenzuweisung {
                        padding-bottom: 30px;

                        img {
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }

                    .views-field-field-event-datum {
                        padding-bottom: 20px;
                        font-weight: bold;
                        color: $active-menu;
                        font-size: 22px;
                    }

                    .views-field-title {
                        padding-bottom: 40px;
						

                        a {
                            text-decoration: none;
                            font-size: 22px;
                            color: $main-color;
                        }
                    }

                    .views-field-field-ort, .views-field-views-conditional-1 {
                        .field-content {                            
                            font-size: 20px;
                            color: $color-light-grey;
							position:absolute;
							bottom:30px;
                        }
                    }
                }
            }
        }
    }
}

//arrow-forward

.common-button {
    font-size: 20px;
    text-decoration: none;
    margin-left: 35px;
    padding-bottom: 4px;
    border-bottom: 2px solid $color-light-grey;
    position: relative;

    &:before {
        font-family: $icomoon;
        content: "\e93f";
        color: $active-menu;
        font-size: 14px;
        position: absolute;
        left: -30px;
        top: 6px;
        display: inline-block;
    }

    &:hover {
        border-color: $active-menu;
    }
}

//node-type-webform

.node-type-webform {
    

    .node-webform {
       width:765px;
	  margin:0 auto;

        .field-name-field-untertitel {
            color: $active-menu;
            font-size: 26px;
            padding: 30px 0;
        }

        .webform-client-form {
            padding-top: 40px;
			width:65%;

            .webform-component-fieldset {
                border: none;
                border-radius: 0;
				    box-shadow: none;

                .panel-heading {
                    display: none;
                }

                .panel-body {padding:0;
                    .form-group {
                        margin-bottom: 40px;

                        label {
						  font-size:15px;
                            .form-required {
                                color: $active-menu;
                            }
                        }

                        .form-control {
                           
							height:42px;
							border-bottom-color: #bfcbd5;
    border-left-color: #dfe5ea;
    border-right-color: #dfe5ea;
    border-top-color: #cfd8df;
    box-shadow: 0 -1px 1px 0 #eff2f4;
    border-radius: 3px;
                        }

                        p {
                            a {
                                text-decoration: none;
                                color: $active-menu;
                            }
                        }
                    }
                }
            }

            .webform-submit {
                background: $active-menu;
                color: $color-white;
                border: 0;
                border-radius: 0;
                padding: 10px 40px;
                cursor: pointer;
                position: relative;
                font-size: 20px;

                &:before {
                    font-family: $icomoon;
                    content: "\e93f";
                    color: $main-color;
                    font-size: 14px;
                    position: absolute;
                    left: 15px;
                    top: 14px;
                }
            }
			#edit-submitted-kontakdaten-datenschutz{
			  float:left;
			}
        }
    }
}

// Doorpages work

.page-node-67{
	article{
		> .group-page-info{
			max-width:765px;
		}
	}
}

//page-user
.page-user {
  .page-header{
     @extend .container;
	 border:0;
  }
  
  .region-content{
    @extend .container;
  }
}