body {
    overflow-x: hidden;
    font-family: $font-family-primary;
    color: $main-color;
    font-size: 20px;
    line-height: normal;
}

header.navbar-default {
    background: $color-white;
}

.container-fluid {
    padding: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

//-----------backend theme changes-----------//
.field-name-field-weitere-details, .field-name-field-zur-website {
    float: left;
    width: 50%;
}

// Page title
.page-title {
    margin: 25px 0 30px;
    font-size: 44px;
}

//pagination

.text-center {
    text-align: left;
    clear: both;
    padding: 10px 0 40px 0;

    ul.pagination {
        margin: 0;
        padding: 0;

        li.pager-first, li.pager-last {
            display: none;
        }

        li.prev a {
            font-size: 0;
            position: relative;

            &:before {
                @extend .material-icons;

                content: "keyboard_arrow_left";
                color: $main-color;
                position: absolute;
                font-size: 26px;
                top: 13px;
                left: 0;
            }
        }

        li.next a {
            font-size: 0;
            position: relative;

            &:before {
                @extend .material-icons;

                content: "keyboard_arrow_right";
                color: $main-color;
                position: absolute;
                font-size: 26px;
                top: 13px;
                right: 0px;
            }
        }

        > li > span {
            border: none;
            color: $main-color;
        }

        > li > a {
            color: $main-color;
            background: none;
            border: none;
            font-size: 26px;

            &.progress-disabled {
                float: left;
            }
        }

        > .active > a,
        > .active > a:hover,
        > .active > a:focus,
        > .active > span,
        > .active > span:hover,
        > .active > span:focus {
            background: none;
            color: $active-menu;
            font-size: 26px;
            border-bottom: 2px solid $active-menu;
            padding-bottom: 0;
        }
    }
}

//breadcrumb

.breadcrumb {
    @extend .container;
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background: none;
    border-radius: 0;

    .inline.first{
	margin-right:10px;
	a {
        text-decoration: none;
        color: $main-color;
        font-size: 18px;
        border-bottom: 2px solid $color-light-grey;
		padding-bottom: 5px;
    }
}
    .inline.last {
	margin-left:10px;
        border-bottom: 2px solid $active-menu;
        color: $main-color;
		padding-bottom: 5px;
    }
}

//dropdown

.select2-container {
    min-width: 200px;

    .select2-dropdown {
        border: 0;
        top: 10px;
        background: $header-dropdown-menu;

        .select2-results {
            height: 200px;
			color: $color-white;
			
			.simplebar-track .simplebar-scrollbar {
    background: $main-color;
}

            ul.select2-results__options {
                
                height: auto;
                overflow: hidden;
                max-height: none;
				
				
				.select2-results__option{
				padding-left:20px !important;
				}

                
            }
        }

        .select2-search--dropdown {
            display: none;
        }
    }

    .select2-results__option[aria-selected=true] {
        background: 0;
		
    }

    .select2-results__option--highlighted[aria-selected] {
        background: $main-color;
		
    }
}

