body {
    overflow-x: hidden;
    font-family: $font-family-primary;
    color: $main-color;
    font-size: 20px;
    line-height: normal;
}

.container {
    width: 100%;

    @include devicebreak(x-large) {
        width: 1170px;
    }
}

header.navbar-default {
    background: $color-white;
}

.container-fluid {
    padding: 0;
}

p {
    line-height: 30px;

    a {
        line-height: normal;
    }
}

h1 {
    font-size: 28px;

    @include devicebreak(x-large) {
        font-size: 44px;
    }
}

//-----------backend theme changes-----------//
/* .field-name-field-weitere-details, .field-name-field-zur-website {
    float: left;
    width: 50%;
} */

// Page title
.page-title {
    margin: 25px 0 30px;
    font-size: 30px;

    @include devicebreak(x-medium) {
        font-size: 44px;
    }
}

//pagination

.text-center {
    text-align: left;
    clear: both;
    padding: 10px 0 40px 0;

    ul.pagination {
        margin: 0;
        padding: 0;

        li.pager-first, li.pager-last {
            display: none;
        }

        li.prev a {
            font-size: 0;
            top: 7px;

            &:before {
                font-family: $icomoon;
                content: "\e93e";
                color: $main-color;
                font-size: 14px;
                display: inline-block;
            }
        }

        li.next a {
            font-size: 0;
            top: 7px;

            &:before {
                font-family: $icomoon;
                content: "\e93f";
                color: $main-color;
                font-size: 14px;
                display: inline-block;
            }
        }

        > li > span {
            border: none;
            color: $main-color;
        }

        > li > a {
            color: $main-color;
            background: none;
            border: none;
            font-size: 26px;

            &.progress-disabled {
                float: left;
            }
        }

        > .active > a,
        > .active > a:hover,
        > .active > a:focus,
        > .active > span,
        > .active > span:hover,
        > .active > span:focus {
            background: none;
            color: $active-menu;
            font-size: 26px;
            border-bottom: 2px solid $active-menu;
            padding-bottom: 0;
            border-radius: 0;
        }
    }
}

//breadcrumb

.breadcrumb {
    @extend .container;

    padding: 0 15px;
    margin-bottom: 20px;
    list-style: none;
    background: none;
    border-radius: 0;

    @include devicebreak(x-large) {
        padding: 0;
    }


    .inline {
        // margin-right:10px;
        a {
            text-decoration: none;
            color: $main-color;
            font-size: 18px;
            border-bottom: 1px solid $color-light-grey;
            padding-bottom: 4px;
        }

        &.last {
            // margin-left:10px;
            border-bottom: 1px solid $active-menu;
            padding-bottom: 4px;
            font-size: 18px;

            a {
                // border-color: $active-menu;
           
            }
        }
    }

    .delimiter {
        font-size: 0;

        &:before {
            font-family: $icomoon;
            content: "\e940";
            color: $icons-color;
            font-size: 11px;
            margin: 0 10px;
            display: inline-block;
        }
    }
	span{
		display:inline-block;
		margin-bottom:10px;
		@include devicebreak(x-medium){
			margin-bottom:0;
		}
	}
}

//dropdown

.select2-container {
    width: 290px !important;
	@include devicebreak(large){
	   width:260px !important;
	   	}
	@include devicebreak(x-large){
	  width:290px !important;
	}	
		
    .select2-dropdown {
        border: 0;        
        background: $header-dropdown-menu;
		border-radius:0;

        .select2-results {
            height: 200px;
            color: $color-white;

            .simplebar-track .simplebar-scrollbar {
                background: $main-color;
                right: 6px;
            }

            ul.select2-results__options {
                height: auto;
                overflow: hidden;
                max-height: none;

                .select2-results__option {
                    padding-left: 20px !important;
                }
            }
        }

        .select2-search--dropdown {
            display: none;
        }
    }

    .select2-results__option[aria-selected=true] {
        background: 0;
    }

    .select2-results__option--highlighted[aria-selected] {
        background: $main-color;
    }
}

.container {

@include devicebreak(x-medium){
	padding-left:30px;
	padding-right:30px;
	
	}
	
	
    @include devicebreak(x-large) {
        padding: 0;
    }
}

.row{
margin:0;
}

.col-sm-12{
padding:0;
}

//-----------view-content-----------//

.view-neueste-informationen, .view-termin, .view-aktuelles, .view-neueste-digital-projekte, .view-alles-zum-thema {
    .view-sub-wrapper {
        > .view-content {
            margin-left: -15px;
            margin-right: -15px;

            .views-row {
                @extend .col-md-4,.col-sm-6;

                .row-container {
                    background: $color-white;
                    padding: 30px;
                    margin-bottom: 30px;
                    position: relative;
                    border: 1px solid $color-white;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    height: auto;
					word-wrap:break-word;

                    @include devicebreak(medium) {
                        height: 440px;
                    }


                    @include devicebreak(x-large) {
                        height: 410px;
                    }


                    &.project-blue {
                        background: $main-color;

                        .views-field-title a {
                            color: $color-white;
                        }

                        &:hover {
                            .views-field-title a {
                                color: $main-color;
                            }
                        }
                    }

                    &:hover {
                        background: $color-light-blue;
                        border: 1px solid $color-border;
                    }

                    .views-field-field-themenzuweisung {
                        padding-bottom: 30px;

                        img {
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }

                    .views-field-field-event-datum {
                        padding-bottom: 20px;
                        font-weight: bold;
                        color: $active-menu;
                        font-size: 22px;
                    }

                    .views-field-title {
                        padding-bottom: 40px;

                        a {
                            text-decoration: none;
                            font-size: 22px;
                            color: $main-color;
                        }
                    }

                    .views-field-field-ort, div[class*='views-field-views-conditional-'] {
                        .field-content {
                            font-size: 20px;
                            color: $color-light-grey;
							
							@include devicebreak(medium){
                            position: absolute;
                            bottom: 30px;
                        }}
                    }
                }
            }
        }
    }
}

//arrow-forward

.common-button {
    font-size: 20px;
    text-decoration: none;
    margin-left: 35px;
    padding-bottom: 4px;
    border-bottom: 2px solid $color-light-grey;
    position: relative;

    &:before {
        font-family: $icomoon;
        content: "\e93f";
        color: $active-menu;
        font-size: 14px;
        position: absolute;
        left: -30px;
        top: 6px;
        display: inline-block;
    }

    &:hover {
        border-color: $active-menu;
    }
}

//node-type-webform

.node-type-webform {
    .node-webform {
        width: 100%;
        padding: 15px;

        @include devicebreak(medium) {
            width: 765px;
            margin: 0 auto;
        }


        .field-name-field-untertitel {
            color: $active-menu;
            font-size: 26px;
            padding: 30px 0;
        }

        .field-name-field-pflichtfeldhinweis {
            h3 {
                font-size: 20px;
                color: $active-menu;
            }
        }

        .webform-client-form {
            padding-top: 40px;
            width: 100%;

            @include devicebreak(medium) {
                width: 65%;
            }


            .webform-component-fieldset {
                border: none;
                border-radius: 0;
                box-shadow: none;

                .panel-heading {
                    display: none;
                }

                .panel-body {
                    padding: 0;

                    .form-group {
                        margin-bottom: 40px;

                        &:nth-last-child(2) {
                            margin-bottom: 20px;
                        }

                        label {
                            font-size: 15px;

                            .form-required {
                                color: $active-menu;
                            }
                        }

                        .form-control {
                            height: 42px;
                            border-bottom-color: #bfcbd5;
                            border-left-color: #dfe5ea;
                            border-right-color: #dfe5ea;
                            border-top-color: #cfd8df;
                            box-shadow: 0 -1px 1px 0 #eff2f4;
                            border-radius: 3px;
                        }

                        p {
                            a {
                                text-decoration: none;
                                color: $active-menu;
                            }
                        }

                        &:nth-last-child(3) .form-control {
                            height: auto;
                        }
                    }
                }
            }

            .webform-submit {
                background: $active-menu;
                color: $color-white;
                border: 0;
                border-radius: 0;
                padding: 10px 40px;
                cursor: pointer;
                position: relative;
                font-size: 20px;

                &:before {
                    font-family: $icomoon;
                    content: "\e93f";
                    color: $main-color;
                    font-size: 14px;
                    position: absolute;
                    left: 15px;
                    top: 14px;
                }
            }

            #edit-submitted-kontakdaten-datenschutz, #edit-submitted-kontakt-datenschutz {
                float: left;
            }
        }

        input[type="radio"] {
            margin: 2px 0 0;
            left: 0;

            @include devicebreak(medium) {
                margin: 3px 0 0;
            }
        }

        input[type="checkbox"] {
            margin: 8px 0 0;
            left: 0;

            @include devicebreak(medium) {
                margin: 4px 0 0;
            }
        }
    }
}

//IE10 cross button remove

input[type=text]::-ms-clear {
    display: none;
}

// Doorpages work

.page-node-67 {
    article {
        > .group-page-info {
            max-width: 765px;
        }
    }
}

//page-user
.page-user {
    .page-header {
        @extend .container;

        border: 0;
    }

    .region-content {
        @extend .container;
    }
}

// Calendar view

.page-calendar {
    .region-content {
        @extend .container;
    }

    .view-content {
        margin: 40px 0;

        .calendar-calendar {
            .inner {
                display: table-cell;
                vertical-align: bottom;
                width: inherit;
                padding: 10px;
                height: 155px !important;
                min-height: 155px;

                .item {
                    float: right;
                    line-height: 26px;

                    // margin-top:30px;
                    .calendar {
                        background: none;
                        overflow: visible;

                        span {
                            position: relative;

                            a {
                                font-size: 0;
                                text-decoration: none;
                                position: relative;
                                z-index: 99;

                                div {
                                    display: none;
                                }

                                &.single {
                                    border: 2px solid $active-menu !important;
                                    border-radius: 50%;
                                    display: inline-block;
                                    height: 25px;
                                    width: 25px;
                                    margin: 0 4px;

                                    & + .views-row {
                                        top: 40px;
                                    }
                                }

                                &.recurring {
                                    &::before {
                                        color: $active-menu;
                                        content: "\e94d";
                                        font-family: $icomoon;
                                        font-size: 25px;
                                        font-weight: normal;
                                    }
                                }

                                & + .views-row {
                                    @extend .col-md-4,.col-sm-6;

                                    position: absolute;
                                    display: none;
                                    width: 370px;
                                    z-index: 999;
                                    left: -39px;
                                    top: 30px;

                                    > .row-container {
                                        background: $color-light-blue;
                                        padding: 30px;
                                        margin-bottom: 30px;
                                        position: relative;
                                        border: 1px solid $color-border;
                                        cursor: pointer;
                                        transition: all 0.5s ease;
                                        height: auto;

                                        @include devicebreak(x-medium) {
                                            //  height: 410px;
                                        }


                                        &.project-blue {
                                            background: $main-color;

                                            .views-field-title a {
                                                color: $color-white;
                                            }

                                            &:hover {
                                                .views-field-title a {
                                                    color: $main-color;
                                                }
                                            }
                                        }

                                        &:hover {
                                            // background: $color-light-blue;
                                       
                                        }

                                        .views-field-field-themenzuweisung {
                                            padding-bottom: 30px;

                                            img {
                                                display: inline-block;
                                                margin-right: 10px;
                                            }
                                        }

                                        .views-field-field-event-datum {
                                            padding-bottom: 20px;
                                            font-weight: bold;
                                            color: $active-menu;
                                            font-size: 22px;
                                        }

                                        .views-field-title {
                                            padding-bottom: 20px;

                                            a {
                                                text-decoration: none;
                                                font-size: 22px;
                                                color: $main-color;
                                            }
                                        }

                                        .views-field-field-ort, div[class*='views-field-views-conditional-'] {
                                            .field-content {
                                                font-size: 20px;
                                                color: $color-light-grey;

                                                // position: absolute;
                                                // bottom: 30px;
                                           
                                            }
                                        }

                                        .pop-up {
                                            display: block !important;
                                        }
                                    }

                                    &::before, &::after {
                                        border-color: transparent transparent $color-light-blue;
                                        border-style: solid;
                                        border-width: 12px;
                                        content: "";
                                        height: 0;
                                        position: absolute;
                                        top: -23px;
                                        left: 42px;
                                        width: 0;
                                        z-index: 9;
                                    }

                                    &::after {
                                        border-bottom-color: $color-border;
                                        top: -24px;
                                        z-index: 8;
                                    }

                                    &.rightBorder {
                                        left: auto;
                                        right: -31px;

                                        &::before, &::after {
                                            left: auto;
                                            right: 35px;
                                        }
                                    }
                                }
                            }

                            &:hover {
                                a {
                                    & + .views-row {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            table {
                border-collapse: inherit;

                thead {
                    position: relative;

                    &::before {
                        background: $active-menu;
                        bottom: 12px;
                        content: "";
                        min-height: 2px;
                        position: absolute;
                        width: 100%;
                    }

                    tr {
                        background: none;

                        th {
                            background: none;
                            border: none;
                            font-weight: normal;
                            text-align: right;
                            padding-bottom: 25px;

                            // margin-bottom:15px;
                       
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            border: 5px solid $color-light-blue;

                            &:first-child {
                                border-left-width: 0;
                            }

                            &:last-child {
                                border-right-width: 0;
                            }
                        }

                        &:first-child {
                            td {
                                //  border-top-width:20px;
                           
                            }
                        }
                    }
                }

                tr {
                    td {
                        &.today {
                            border-color: $active-menu !important;
                        }

                        &.greyHover {
                            background: $color-light-blue;

                            // border:1px solid $color-border !important;
                            position: relative;

                            &::after {
                                border: 1px solid $color-border;
                                bottom: -1px;
                                content: "";
                                left: -1px;
                                position: absolute;
                                right: -1px;
                                top: -1px;
                            }
                        }

                        &.redHover {
                            background: #fdede7;
                            position: relative;

                            &::after {
                                border: 1px solid $active-menu;
                                bottom: -1px;
                                content: "";
                                left: -1px;
                                position: absolute;
                                right: -1px;
                                top: -1px;
                            }
                        }
                    }

                    &.date-box {
                        td {
                            &.greyHover {
                                &::after {
                                    border-bottom: none;
                                }
                            }

                            &.redHover {
                                &::after {
                                    border-bottom: none;
                                }
                            }
                        }
                    }

                    &.single-day {
                        td {
                            &.greyHover {
                                &::after {
                                    border-top: none;
                                }
                            }

                            &.redHover {
                                &::after {
                                    border-top: none;
                                }
                            }
                        }

                        .no-entry .inner {
                            min-height: 155px;
                            height: 155px !important;
                        }
                    }
                }
            }

            .date-box {
                .inner {
                    min-height: inherit;
                    height: auto !important;
                    display: inline-block;
                }
            }
        }
    }

    .view-event-on-calendar {
        display: none;
    }

    .date-views-pager {
        float: left;
        width: 60%;

        .pagination {
            .monthText {
                text-transform: capitalize;
                font-size: 22px;
                font-weight: bold;
            }

            li {
                float: left;
                margin-right: 50px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 0;
                    padding: 3px 12px;
                    color: $main-color;
                    background: none;
                    border: none;

                    // font-weight:bold;
                    &::before {
                        font-family: $icomoon;
                        font-size: 18px;
                    }
                }

                &.prev {
                    a {
                        &::before {
                            content: "\e901";
                        }
                    }
                }

                &.next {
                    a {
                        &::before {
                            content: "\e902";
                        }
                    }
                }
            }
        }

        h3 {
            display: none;
        }
    }

    /* .view-map-teaser{
      margin-bottom:30px;
      overflow:hidden;
    } */
}

// Termine icon on header

.page-calendar, .page-termine {
    .page-header {
        position: relative;

        &::before {
            content: "\e941";
            font-family: $icomoon;
            color: $calendar-color;
            font-size: 120px;
            margin-bottom: 30px;
        }

        @include devicebreak(x-large) {
            padding-left: 80px;

            &::before {
                left: -100px;
                top: 40px;
                position: absolute;
                margin-bottom: 0;
            }
        }
    }

    .view-header {
        @include devicebreak(x-large) {
            padding-left: 80px;
        }
    }
}

//backtotop
#backtotop {
    background: $active-menu;
    bottom: 20px;
    cursor: pointer;
    height: 50px;
    position: fixed;
    right: 20px;
    font-size: 0;
    width: 50px;
    border-radius: 25px;
    text-indent: 0;

    &::before {
        font-family: $icomoon;
        content: "\e950";
        color: $color-white;
        font-size: 16px;
        display: inline-block;
        position: absolute;
        top: 16px;
        left: 17px;
    }
}