//-----------------------------------//

.field-name-field-anzuzeigende-seitenmodule {
    .panelizer-view-mode {
        @include devicebreak(medium) {
            padding: 50px;
        }


        @include devicebreak(x-large) {
            padding: 100px 0 70px;
            min-height: 523px;
        }


        .panel-2col {
            @extend .container;

            background: rgba(39, 55, 83, 1);
            padding-top: 45px;

            @include devicebreak(medium) {
                position: relative;
                background: rgba(39, 55, 83, 0.94);
            }


            @include devicebreak(x-large) {
                height: 400px;
                padding: 45px !important;
            }


            .panel-col-first {
                width: 100%;
                height: 425px;
                border-bottom: 1px solid $color-border;
                position: relative;

                @include devicebreak(x-large) {
                    width: 65%;
                    float: left;
                    border-right: 1px solid rgba(255, 255, 255, 0.5);
                    padding-right: 100px;
                    border-bottom: none;
                    height: auto;
                    padding-bottom: 88px;
                }


                .inside {
                    margin: 0;
                    color: $color-white;

                    > * {
                        margin-bottom: 15px;
                    }

                    .pane-paragraphs-item-field-bild {
                        // padding-bottom: 25px;
                        .field-name-field-bild {
                            margin: 0;
                        }
                    }

                    .pane-paragraphs-item-field-paragraph-title {
                        font-size: 38px;

                        // padding-bottom: 25px;
                        //  font-weight: bold;
                        font-family: $font-family-bold;
                    }

                    .pane-paragraphs-item-field-flie-text-bereich {
                        // padding-bottom: 35px;
                   
                    }

                    .pane-paragraphs-item-field-quellenangabe a {
                        color: $color-white;

                        @extend .common-button;
                        position: absolute !important;
						font-size:18px !important;
                    }
                }

                .panel-separator {
                    display: none;
                }
            }

            .panel-col-last {
                width: 100%;
                height: 425px;
                padding-top: 30px;
                position: relative;

                .inside {
                    margin: 0;
                }

                @include devicebreak(x-large) {
                    width: 35%;
                    float: left;
                    padding-left: 40px;
                    padding-top: 0;
                    height: auto;
                }


                .view-right-front-map-teaser .views-row {
                    width: 100%;

                    .row-container {
                        > * {
                            margin-bottom: 15px;
                        }
                    }

                    .views-field-type {
                        color: $active-menu;
                        font-size: 22px;

                        //font-weight: bold;
                        font-family: $font-family-bold;

                        // padding-bottom: 15px;
                   
                    }

                    .views-field-title {
                        //padding-bottom: 60px;

                        a {
                            color: $color-white;
                            font-size: 22px;
                            text-decoration: none;
                        }
                    }

                    .views-field-view-node a {
                        @extend .common-button;

                        color: $color-white;
                        position: absolute !important;

                        &:before {
                            content: "\e94a" !important;
                        }
                    }
                }
            }
        }
    }

    .field-name-field-quellenangabe a, .view-right-front-map-teaser .row-container .views-field-view-node a {
        margin-top: 20px;
        border-color: $color-white !important;

        &:hover {
            border-color: $active-menu !important;
        }
    }
}

//--------view-termin----------//

.front {
    .view-termin {
        background: $main-color;

        .view-sub-wrapper {
            .view-header {
                color: $color-white;
                padding-bottom: 30px;
                padding-top: 40px;
                width: auto;

                @include devicebreak(x-large) {
                    width: 1170px;
                }
            }

            .view-footer {
                clear: both;
                padding-top: 10px;
                padding-bottom: 60px;
                position: relative;

                .link-outer-block .link-inner-block-1 {
                    a {
                        @extend .common-button;

                        color: $color-white;
                    }
                }
            }
        }
    }
}

//-----------------------------//

.view-neueste-informationen {
    background: $color-light-blue;

    .view-sub-wrapper {
        position: relative;

        @extend .container;

        .view-header {
            padding-top: 30px;
            padding-bottom: 30px;

            .pane-title {
                font-size: 28px;
                font-weight: normal;
                font-family: $font-family-bold;
            }
        }

        .view-content .views-row .row-container {
            .views-field-type {
                color: $active-menu;
                font-weight: bold;
                padding-bottom: 20px;
            }

            .views-field-field-datum {
                position: absolute;
                bottom: 30px;
                font-size: 17px;
                color: $color-light-grey;
            }
        }

        .view-footer {
            clear: both;
            padding-top: 10px;
            padding-bottom: 60px;

            .link-outer-block .link-inner-block-1, .link-outer-block .link-inner-block-2 {
                display: inline-block;

                @include devicebreak(small) {
                    margin-bottom: 20px;
                }


                a {
                    @extend .common-button;

                    color: $main-color;
                    margin-right: 20px;
                }
            }
        }
    }
}

//---------------------------------//
.paragraphs-item-topic-teaser-paragraph {
    background: $color-white;

    .field-collection-container {
        border-bottom: none;
        margin-bottom: 0;

        .field-name-field-topic-teaser {
            @extend .container;

            > .field-items {
                padding: 40px 0;
                float: left;
                margin-left: -15px;
                margin-right: -15px;

                > .field-item {
                    @extend .col-md-6;

                    margin-bottom: 30px;

                    .field-collection-view {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        background: $color-light-blue;
                        position: relative;

                        .content {
                            padding: 30px;
                            padding-top: 35px;
                            padding-bottom: 40px;
                            height: auto;
                            line-height: 26px;

                            @include devicebreak(medium) {
                                padding-right: 50px;
                                height: 400px;
                            }


                            @include devicebreak(x-large) {
                                padding-right: 165px;
                            }


                            .field-type-file {
                                padding-bottom: 25px;
                                margin-bottom: 0;
                            }

                            .field-name-field-paragraph-title {
                                font-size: 26px;
                                color: $active-menu;
                                padding-bottom: 15px;
                                font-weight: normal;
                                font-family: $font-family-bold;
                            }

                            .field-name-field-quellenangabe {
                                a {
                                    @extend .common-button;

                                    border-color: $color-light-grey !important;
                                    color: $main-color;
                                    position: absolute !important;
                                    bottom: 30px;

                                    &:hover {
                                        border-color: $active-menu !important;
                                    }
                                }
                            }

                            .field-name-field-flie-text-bereich {
                                padding-bottom: 50px;

                                .field-item p {
                                    font-size: 20px;
                                    color: $main-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .paragraphs-item-topic-teaser-paragraph .field-collection-container .field-name-field-topic-teaser > .field-items > .field-item .field-collection-view .content .field-name-field-quellenangabe a {
        margin-left: 15px !important;
    }
}