//-----------------------------------//

.field-name-field-anzuzeigende-seitenmodule {
    .panelizer-view-mode {
        padding: 60px 0;

        .panel-2col {
            @extend .container;

            position: relative;
            background: $main-color;
            padding-top:45px;
			@include devicebreak (x-large){
            height: 400px;
			padding: 45px !important;}

            .panel-col-first {
			    position:relative;				  
			     width:100%;
				 height:400px;
				 border-bottom:1px solid $color-border;
			   
			   
@include devicebreak (x-large){
                width: 60%;
                float: left;
                border-right: 1px solid $color-border;
				padding-right:100px;
				border-bottom:none;
				height:auto;
				}
				

                .inside {
                    margin: 0;
                    color: $color-white;

                    .pane-paragraphs-item-field-bild {
                        padding-bottom: 25px;
                    }

                    .pane-paragraphs-item-field-paragraph-title {
                        font-size: 38px;
                        padding-bottom: 25px;
                        font-weight: bold;
                    }

                    .pane-paragraphs-item-field-flie-text-bereich {
                        padding-bottom: 35px;
                    }

                    .pane-paragraphs-item-field-quellenangabe a {
                        color: $color-white;

                        @extend .common-button;

                        bottom: 30px;
                        position: absolute !important;
                    }
                }

                .panel-separator {
                    display: none;
                }
            }

            .panel-col-last {
			
			width:100%;
			height:400px;
			padding-top:30px;
			
			
			  
			@include devicebreak (x-large){
                width: 40%;
                float: left;
                padding-left: 30px;
				padding-top:0;
				 
				}

                .view-right-front-map-teaser .views-row {
                    width: 100%;

                    .views-field-type {
                        color: $active-menu;
                        font-size: 22px;
                        font-weight: bold;
                        padding-bottom: 15px;
                    }

                    .views-field-title {
                        padding-bottom: 60px;

                        a {
                            color: $color-white;
                            font-size: 22px;
                            text-decoration: none;
                        }
                    }

                    .views-field-view-node a {
                        @extend .common-button;

                        color: $color-white;
                        bottom: 30px;
                        position: absolute !important;

                        &:before {
                            content: "\e94a" !important;
                        }
                    }
                }
            }
        }
    }
	
	
}

//--------view-termin----------//

.front {
    .view-termin {
        background: $main-color;

        .view-sub-wrapper {
            .view-header {
                color: $color-white;
                padding-bottom: 30px;
                
                padding-top: 40px;
            }

            .view-footer {
                clear: both;
                padding-top: 10px;
                padding-bottom: 60px;
                position: relative;

                .link-outer-block .link-inner-block-1 {
                    a {
                        @extend .common-button;

                        color: $color-white;
                    }
                }
            }
        }
    }
}

//-----------------------------//

.view-neueste-informationen {
    background: $color-light-blue;

    .view-sub-wrapper {
        position: relative;

        @extend .container;

        .view-header {
            padding-top: 30px;
            padding-bottom: 30px;

            .pane-title {
                font-size: 28px;
                font-weight: bold;
            }
        }

        .view-content .views-row .row-container {
            .views-field-type {
                color: $active-menu;
                font-weight: bold;
                padding-bottom: 20px;
            }

            .views-field-field-datum {
                position: absolute;
                bottom: 30px;
                font-size: 17px;
                color: $color-light-grey;
            }
        }

        .view-footer {
            clear: both;
            padding-top: 10px;
            padding-bottom: 60px;

            .link-outer-block .link-inner-block-1, .link-outer-block .link-inner-block-2 {
                display: inline-block;
				
				@include devicebreak(small){
				 margin-bottom:20px;
				}

                a {
                    @extend .common-button;

                    color: $main-color;
                    margin-right: 20px;
                }
            }
        }
    }
}

//---------------------------------//
.paragraphs-item-topic-teaser-paragraph {
    background: $color-white;

    .field-collection-container {
        border-bottom: none;
        margin-bottom: 0;

        .field-name-field-topic-teaser {
            @extend .container;

            > .field-items {
                padding: 60px 0;
                float: left;
                margin-left: -15px;
                margin-right: -15px;

                > .field-item {
                    @extend .col-md-6;

                    .field-collection-view {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        background: $color-light-blue;
                        position: relative;

                        .content {
                            padding: 30px;
                            height: 400px;
							@include devicebreak(medium){
                            padding-right: 165px;}

                            .field-type-file {
                                padding-bottom: 30px;
                            }

                            .field-name-field-paragraph-title {
                                font-size: 26px;
                                color: $active-menu;
                                padding-bottom: 25px;
                                font-weight: bold;
                            }

                            .field-name-field-quellenangabe {
                                a {
                                    @extend .common-button;

                                    color: $main-color;
                                    position: absolute !important;
                                    bottom: 30px;
                                }
                            }

                            .field-name-field-flie-text-bereich {
                                padding-bottom: 50px;

                                .field-item p {
                                    font-size: 20px;
                                    color: $main-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


