.page-taxonomy-term {
    background: $color-light-blue;

    .view-title {
        @extend .container;

        padding: 0;
        font-size: 20px;
        font-weight: normal;
        margin: 0 auto;
    }

    .group-page-info {
        @extend .container;

        padding: 0;
        padding-top: 85px;
        padding-bottom: 50px;

        .field-name-field-bild {
            width: 30%;
            float: left;
        }

        .themenzuweisung-right-block {
            float: left;
            width: 70%;
            padding-top: 25px;

            .page-header {
                border-bottom: none;
                margin: 0;
                Font-size: 44px;
                color: $active-menu;
                padding-bottom: 30px;
            }

            p {
                font-size: 22px;
            }

            .field-name-field-untertitel {
                .field-items {
                    color: $active-menu;
                }
            }
        }
    }

    .paragraphs-items-field-anzuzeigende-seitenmodule {
        .paragraphs-item-flie-text-mit-bild-links, .paragraphs-item-flie-text-bereich, .paragraphs-item-flie-text-mit-bild-rechts {
            @extend .container;
        }
    }

    .view-alles-zum-thema {
        .view-sub-wrapper {
            @extend .container;

            .attachment-before .view-result-count {
                margin-top: -88px;
                padding: 30px 0;
                font-size: 22px;
                font-weight: bold;
            }

            .view-content .views-row .row-container {
                .views-field-type {
                    color: $active-menu;
                    font-weight: bold;
                    padding-bottom: 20px;
                }

                .views-field-views-conditional {
                    position: absolute;
                    bottom: 30px;
                    font-size: 17px;
                    color: $color-light-grey;
                }
            }

            .view-filters {
                .views-submit-button {
                    display: none;
                }

                .views-exposed-form .views-exposed-widgets .views-widget-sort-by {
                    float: right;
                    padding: 30px 0;

                    .bef-select-as-links .form-type-bef-link {
                        display: inline-block;
                        font-size: 20px;
                        padding-left: 15px;

                        a {
                            color: $main-color;
                            text-decoration: none;

                            &.active {
                                border-bottom: 1px solid $active-menu;
                            }
                        }
                    }
                }
            }
        }
    }
}

//termine and aktuelles//

.page-termine, .page-aktuelles {
    background: $color-light-blue;

    .page-header {
        @extend .container;

        padding-left: 250px;
        border: none;
        padding-bottom: 35px;
        font-weight: normal;
        padding-top: 80px;
    }
}

.view-aktuelles, .view-termin {
    > .view-sub-wrapper {
        @extend .container;

        .view-header {
            color: $active-menu;
            font-size: 26px;
            padding-bottom: 60px;
        }

        .attachment-before .view-result-count {
            margin-top: -88px;
            padding: 30px 0;
            font-size: 22px;
            font-weight: bold;
        }
    }
}

// view-map-teaser //

.view-map-teaser {
    clear: both;

    .view-sub-wrapper {
        .view-content {
            margin: 0;

            .views-row {
                @extend .col-md-8;

                background: $main-color;

                .row-container {
                    background: none;
                    height: auto;
                    margin-bottom: 0;
                    padding: 45px 150px 45px 50px;
                    border: none;

                    &:hover {
                        background: none;
                        border: none;
                    }

                    .views-field-field-bild {
                        padding-bottom: 20px;

                        img {
                            color: $active-menu;
                        }
                    }

                    .views-field-field-paragraph-title {
                        color: $color-white;
                        font-size: 38px;
                        font-weight: bold;
                        padding-bottom: 20px;
                    }

                    .views-field-field-flie-text-bereich {
                        color: $color-white;
                        padding-bottom: 35px;
                    }

                    .views-field-field-quellenangabe a {
                        @extend .common-button;

                        color: $color-white;
                    }
                }
            }
        }
    }
}

//only-aktuelles//

.page-aktuelles .view-aktuelles {
    .view-sub-wrapper .view-content {
        .views-row .row-container {
            .views-field-type {
                padding-bottom: 20px;
                font-weight: bold;
                color: $active-menu;
                font-size: 22px;
            }

            .views-field-field-datum {
                .field-content {
                    position: absolute;
                    bottom: 30px;
                    font-size: 20px;
                    color: $color-light-grey;
                }
            }
        }
    }

    .view-filters {
        .views-exposed-form .views-exposed-widgets {
            margin-bottom: 0;

            #edit-type-wrapper {
                width: 100%;

                .form-item {
                    display: inline-block;
                    padding-right: 60px;

                    label {
                        padding-left: 0;
                        padding-bottom: 15px;

                        input {
                            visibility: hidden;
                        }
                    }
                }
            }

            .categories-filter {
                margin-top: 30px;
                clear: both;
                display: inline-block;
                width: 100%;

                .views-exposed-widget {
                    padding: 0;
                    width: 25%;
                    float: left;
                    padding: 10px 0;
                    background: $header-dropdown-menu;
                    border-right: 1px solid $color-light-grey;

                    .select2-container--default .select2-selection--single {
                        background: 0;
                        border: 0;
                        border-radius: 0;

                        &:before {
                            content: "\f107";
                            font-family: FontAwesome;
                            color: $color-white;
                            position: absolute;
                            float: right;
                            right: 20px;
                            top: 3px;
                        }

                        .select2-selection__rendered {
                            color: $color-white;
                            padding-left: 20px;
                        }

                        .select2-selection__arrow {
                            display: none;
                        }
                    }
                }
            }

            .views-widget-sort-by {
                float: right;
                padding: 30px 0;

                .bef-select-as-links .form-type-bef-link {
                    display: inline-block;
                    padding-left: 15px;

                    a {
                        text-decoration: none;
                        color: $main-color;

                        &.active {
                            border-bottom: 1px solid $active-menu;
                        }
                    }
                }

                .select2-container {
                    display: none;
                }
            }
        }
    }

    .views-submit-button {
        display: none;
    }
}

//only-termine//
.page-termine .view-termin {
    .view-filters {
        .views-exposed-form .views-exposed-widgets {
            #edit-term-node-tid-depth-wrapper {
                width: 80%;
                float: left;
                padding: 0;
                clear: both;
                margin-bottom: 30px;

                .form-item {
                    .form-type-bef-link {
                        &:first-child {
                            display: none;
                        }

                        a {
                            display: inline-block;
                            float: left;
                            text-decoration: none;
                            color: $main-color;
                            margin-right: 60px;

                            &.active {
                                border-bottom: 1px Solid $active-menu;
                            }
                        }
                    }
                }
            }

            .calendar-link {
                width: 20%;
                float: left;
                text-align: right;
                position: relative;
                margin-bottom: 30px;

                a {
                    text-decoration: none;
                    padding-bottom: 4px;
                    border-bottom: 1px solid $color-light-grey;
                    color: $main-color;
                    font-weight: bold;

                    &:before {
                        content: '\e949';
                        font-family: $icomoon;
                        color: $active-menu;
                        font-size: 14px;
                        position: absolute;
                        left: 40px;
                        top: 9px;
                        display: inline-block;
                    }
                }
            }

            .views-widget-sort-by {
                float: right;
                padding: 30px 0;

                .bef-select-as-links .form-type-bef-link {
                    display: inline-block;
                    padding-left: 15px;

                    a {
                        text-decoration: none;
                        color: $main-color;

                        &.active {
                            border-bottom: 1px solid #e74712;
                        }
                    }
                }
            }

            .views-submit-button {
                display: none;
            }

            .select2-container--default .select2-selection--single {
                display: none;
            }
        }
    }
}

//view-wahlen-sie-einen-themenbereich
.view-wahlen-sie-einen-themenbereich {
    background: $main-color;

    .view-sub-wrapper {
        @extend .container;

        position: relative;
    }

    .view-header {
        color: $color-white;
        padding: 40px 0;
    }

    .view-content {
        margin-right: -15px;
        margin-left: -15px;
        padding-bottom: 90px;

        .views_slideshow_controls_text {
            float: right;
            display: inline-block;
            position: absolute;
            right: 8px;
            top: 60px;

            .views-slideshow-controls-text-previous {
                a {
                    font-size: 0;

                    &:before {
                        font-family: $icomoon;
                        content: "\e93e";
                        color: $color-white;
                        font-size: 14px;
                        position: absolute;
                        left: -20px;
                        top: 6px;
                        display: inline-block;
                    }
                }
            }

            .views_slideshow_controls_text_pause {
                display: none;
            }

            .views_slideshow_controls_text_next {
                a {
                    font-size: 0;

                    &:before {
                        font-family: $icomoon;
                        content: "\e93f";
                        color: $color-white;
                        font-size: 14px;
                        position: absolute;
                        top: 6px;
                        display: inline-block;
                    }
                }
            }
        }

        .views-row {
            @extend .col-md-6;

            background-color: $color-white;
            padding: 30px;

            .views-field-name {
                padding-bottom: 30px;

                a {
                    color: $active-menu;
                    text-decoration: none;
                    font-weight: bold;
                    padding-bottom: 30px;
                }
            }

            .views-field-name-1 {
                a {
                    @extend .common-button;

                    color: $main-color;
                }
            }

            .views-field-field-kurztext {
                padding-bottom: 40px;
            }
        }
    }
}