.page-projekt-map, .page-projekt-map-list {
    .node-doorpage .group-page-info {
        width: 1170px;
        max-width: 100%;
        overflow: hidden;

        .field-name-field-projekt-map {
            width: 100%;
            float: left;

            @include devicebreak(x-large) {
                width: 30%;
            }


            img {
                width: 126px;
                height: 126px;

                @include devicebreak(x-large) {
                    margin: 0 auto;
                }
            }
        }

        .project-map-wrapper {
            float: left;
            width: 100%;
            padding-top: 25px;

            @include devicebreak(x-large) {
                width: 70%;
            }


            .page-title {
                padding-bottom: 30px;
            }
        }
    }

    .map-wrap {
        padding-top: 30px;
        padding-bottom: 30px;
        background: $color-white;

        .paragraphs-item-topic-teaser-paragraph .field-collection-container .field-name-field-topic-teaser > .field-items {
            padding-top: 30px;
            padding-bottom: 0;

            .field-item {
                margin: 0;

                &.odd {
                    margin-top: 30px;
                }

                @include devicebreak(large) {
                    margin: 0;

                    &.odd {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.page-projekt-map {
    .view-neueste-informationen {
        background: $header-dropdown-menu;

        .view-sub-wrapper {
            > .view-content .views-row > a .row-container {
                background: $main-color;
                border: 1px solid $main-color;

                &:hover {
                    background: $color-light-blue !important;
                    border: 1px solid $color-light-blue !important;

                    .views-field-title .field-content {
                        color: $main-color;
                    }
                }

                .views-field-title .field-content {
                    color: $color-white;
                }
            }

            .view-header .pane-title {
                color: $color-white;
            }

            .view-footer a {
                color: $color-white !important;
            }
        }
    }

    .view-filters {
        .views-exposed-form {
            #map_list_link {
                @extend .container;

                text-align: right;
                padding-top: 30px;

                a {
                    text-decoration: none;
                    padding-bottom: 4px;
                    border-bottom: 2px solid $color-light-grey;
                    color: $main-color;
                    font-weight: normal;
                    font-family: $font-family-bold;
                    position: relative;
                    margin-left: 30px;

                    &:before {
                        content: '\e949';
                        font-family: "icomoon";
                        color: #e74712;
                        font-size: 14px;
                        position: absolute;
                        left: -25px;
                        top: 5px;
                        display: inline-block;
                    }

                    &:hover {
                        border-color: $active-menu;
                    }
                }

                .map-sub-title {
                    float: left;
                    font-family: $font-family-bold;
                }
            }

            .footer_map {
                padding-top: 50px;
                position: relative;

                .project-webform {
                    @extend .container;

                    margin: 0 auto;
                    z-index: 999;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: relative;

                    @include devicebreak(x-large) {
                        position: absolute;
                        bottom: 200px;
                    }


                    a {
                        background: $color-white;
                        padding: 14px 40px 14px 55px;
                        text-decoration: none;
                        color: $main-color;
                        z-index: 9999;
                        font-size: 15px;
                        font-weight: normal;
                        font-family: $font-family-bold;
                        float: left;
                        clear: both;
                        margin-bottom: 30px;

                        @include devicebreak(x-large) {
                            font-size: 20px;
                        }


                        &:before {
                            font-family: "icomoon";
                            content: "\e93f";
                            color: $active-menu;
                            font-size: 14px;
                            position: absolute;
                            left: 40px;
                            top: 16px;
                            display: inline-block;

                            @include devicebreak(x-large) {
                                top: 16px;
                                left: 25px;
                            }
                        }

                        &:hover {
                            color: $active-menu;
                        }
                    }
                }
            }
        }
    }
}

.view-display-id-page_1 {
    .view-sub-wrapper {
        @extend .container;

        .view-header {
            .project-webform {
                display: inline-block;
                padding-bottom: 40px;
                position: relative;

                a {
                    background: $color-white;
                    padding: 14px 40px 14px 55px;
                    text-decoration: none;
                    color: $main-color;
                    z-index: 9999;
                    font-size: 15px;
                    font-weight: normal;
                    font-family: $font-family-bold;

                    @include devicebreak(medium) {
                        font-size: 20px;
                    }


                    &:before {
                        font-family: "icomoon";
                        content: "\e93f";
                        color: $active-menu;
                        font-size: 14px;
                        position: absolute;
                        left: 25px;
                        top: 5px;
                        display: inline-block;
                    }

                    &:hover {
                        color: $active-menu;
                    }
                }
            }

            .map-link {
                display: inline-block;
                float: left;
                padding-bottom: 40px;
                width: 100%;

                @include devicebreak(medium) {
                    float: right;
                    width: auto;
                }


                a {
                    text-decoration: none;
                    padding-bottom: 4px;
                    border-bottom: 2px solid $color-light-grey;
                    color: $main-color;
                    font-weight: normal;
                    font-family: $font-family-bold;
                    position: relative;
                    margin-left: 30px;

                    &:before {
                        content: '\e949';
                        font-family: "icomoon";
                        color: #e74712;
                        font-size: 14px;
                        position: absolute;
                        left: -25px;
                        top: 5px;
                        display: inline-block;
                    }

                    &:hover {
                        border-color: $active-menu;
                    }
                }
            }
        }

        .attachment-before {
            .view-result-count {
                width: auto;
                float: left;
                padding: 30px 0;
                font-size: 20px;
                font-weight: normal;
                font-family: $font-family-bold;

                @include devicebreak(medium) {
                    width: 50%;
                    font-size: 22px;
                }
            }
        }

        .views-widget-sort-by {
            padding: 30px 0;
            font-size: 18px;
            text-align: right;

            @include devicebreak(medium) {
                width: 50%;
                float: left;
                font-size: 20px;
            }


            .form-group {
                margin-bottom: 0;

                .bef-select-as-links .form-type-bef-link {
                    display: inline-block;
                    padding-left: 15px;

                    a {
                        text-decoration: none;
                        color: $main-color;

                        &.active {
                            border-bottom: 2px solid $active-menu;
                            padding-bottom: 12px;
                        }
                    }
                }

                .select2-container {
                    display: none;
                }
            }
        }
    }
}

.view-display-id-page_1, .view-display-id-project_map {
    .view-filters {
        .views-exposed-form {
            .views-exposed-widgets {
                @extend .container;

                position: relative;
                margin: 0 auto;

                .categories-filter .views-exposed-widget {
                    position: relative;
                    width: 100%;
                    margin-bottom: 0;
                    padding: 0;

                    @include devicebreak(x-medium) {
                        width: 50%;
                    }


                    @include devicebreak(x-large) {
                        width: 22%;
                        height: 49px;
                    }


                    &:before {
                        content: "\f107";
                        font-family: FontAwesome;
                        color: $color-white;
                        position: absolute;
                        float: right;
                        right: 25px;
                        top: 50%;
                        margin-top: -10px;
                    }

                    &.selColor {
                        background: $header-dropdown-menu;
                    }

                    float: left;
                    padding: 10px 0;
                    margin-bottom: 10px;
                    background: $main-color;
                    border-right: 1px solid $color-light-grey;

                    .views-widget .form-item {
                        padding: 0;
                        position: relative;
                        display: block;

                        .select2-container--default .select2-selection--single {
                            background: 0;
                            border: 0;
                            border-radius: 0;

                            .select2-selection__rendered {
                                color: $color-white;
                                padding-left: 20px;
                                width: 240px;
                            }

                            .select2-selection__arrow {
                                display: none;
                            }
                        }

                        .select2-container + .select2-container {
                            top: 38px !important;
                            left: 0px !important;
                            position: absolute;
                        }
                    }
                }

                .views-widget-sort-order {
                    display: none;
                }

                .categories-filter .views-exposed-widget:nth-child(4) {
                    width: 100%;
                    height: 49px;

                    @include devicebreak(x-medium) {
                        width: 50%;
                    }


                    @include devicebreak(x-large) {
                        width: 34%;
                    }


                    &:before {
                        display: none;
                    }

                    .form-item {
                        &:before {
                            font-family: "icomoon";
                            content: "\e94e";
                            color: $color-white;
                            left: 20px;
                            top: 4px;
                            display: inline-block;
                            position: absolute;
                        }

                        input.form-control {
                            background: 0;
                            border: 0;
                            padding-left: 60px;
                            color: $color-white;
                            padding-right: 150px;
                            box-shadow: none;
                        }
                    }

                    > .views-submit-button {
                        background: 0;
                        width: auto;
                        border: 0;

                        @include devicebreak(x-large) {
                            position: absolute;
                            padding: 0;
                            right: 4px;
                        }
                    }
                }

                .views-reset-button {
                    .form-submit {
                        margin: 0;
                        background: 0;
                        color: $main-color;
                        border: 0;
                        font-size: 20px;
                        padding-left: 25px;
                        position: relative;
                        font-weight: normal;
                        font-family: $font-family-bold;

                        &:before {
                            font-family: "icomoon";
                            content: "\e912";
                            color: $active-menu;
                            left: 0px;
                            top: 5px;
                            display: inline-block;
                            position: absolute;
                        }

                        &:hover {
                            color: $active-menu;
                        }
                    }
                }

                .views-submit-button {
                    border: 0;
                    background: 0;
                    right: 0;
                    width: auto;
                    top: 5px;
                    position: relative;
                    padding: 0;
                    margin-right: 20px;

                    @include devicebreak(x-medium) {
                        width: 100%;
                        display: block;
                        margin-right: 0;
                    }


                    .btn {
                        margin-top: 0;
                        border-radius: 0;
                        height: 40px;
                        color: $main-color;
                        padding: 6px 40px;
                        border: none;
                        background: $color-white;
                        font-weight: normal;
                        font-family: $font-family-bold;

                        &::before {
                            font-family: "icomoon";
                            content: "\e90e";
                            color: $active-menu;
                            left: 11px;
                            top: 11px;
                            font-size: 12px;
                            display: inline-block;
                            position: absolute;
                        }

                        &:hover {
                            color: $active-menu;
                        }
                    }
                }

                .views-widget-filter-field_akteurstyp {
                    display: none;
                }

                .views-widget-filter-field_akteurstyp.active {
                    display: block;
                }
            }
        }
    }
}

.view-display-id-page_1 .view-filters .views-exposed-form .views-exposed-widgets {
    padding: 0;
}