.field-name-field-themenzuweisung {
    //padding-top: 20px;
    //padding-bottom: 40px;
    display: inline-block;
    margin: 60px 0 40px;
    width: 100%;

    .field-label {
        color: $active-menu;
        font-weight: normal;
        margin-bottom: 15px;
    }

    .field-items .field-item {
        @extend .col-md-4;

        padding-right: 45px;

        &:last-child {
            padding-right: 0;
        }

        padding-left: 0;

        a {
            text-decoration: none;
            border-bottom: 1px solid $single-border-color;
            padding-bottom: 5px;
        }

        img {
            display: inline-block;
            width: 33px;
            height: 33px;
            margin-right: 10px;
        }
    }
}

.field-name-field-untertitel {
    font-size: 22px;
}

.field-name-field-quellenangabe {
    width: 100%;
    clear: both;

    .field-label {
        color: $active-menu;
        font-weight: normal;
    }

    .field-items {
        width: 100%;
        clear: both;
    }
}

.paragraphs-items {
    .paragraphs-item-flie-text-bereich {}
}

.field-name-field-youtube-url {
    text-align: center;
}

//------------Aktuelles------------//
.page-aktuelles {
    background: $color-light-blue;

    .page-header {
        padding-left: 350px;
        border: none;
        margin: 0;
    }

    .view-aktuelles {
        @extend .container;

        .view-header {
            color: $active-menu;
            font-size: 26px;
            padding-left: 250px;
        }

        .view-filters {
            .views-exposed-form .views-exposed-widgets {
                margin-bottom: 0;

                #edit-type-wrapper {
                    width: 100%;

                    .form-item {
                        display: inline-block;
                        padding-right: 50px;

                        label {
                            padding-left: 0;

                            input {
                                visibility: hidden;
                            }
                        }
                    }
                }

                .categories-filter {
                    margin-top: 30px;
                    clear: both;
                    display: inline-block;
                    width: 100%;

                    .views-exposed-widget {
                        padding: 0;
                        width: 25%;
                        float: left;
                        padding: 10px 0;
                        background: $main-color;
                        border-right: 1px solid $color-light-grey;

                        .select2-container--default .select2-selection--single {
                            background: 0;
                            border: 0;
                            border-radius: 0;

                            &:before {
                                content: "\f107";
                                font-family: FontAwesome;
                                color: $color-white;
                                position: absolute;
                                float: right;
                                right: 8px;
                            }

                            .select2-selection__rendered {
                                color: $color-white;
                            }

                            .select2-selection__arrow {
                                display: none;
                            }
                        }
                    }
                }

                .views-widget-sort-by {
                    float: right;
                    padding: 30px 0;

                    .bef-select-as-links .form-type-bef-link {
                        display: inline-block;
                        padding-left: 15px;

                        a {
                            text-decoration: none;

                            &.active {
                                border-bottom: 2px solid $active-menu;
                            }
                        }
                    }

                    .select2-container {
                        display: none;
                    }
                }
            }
        }

        .attachment-before .view-result-count {
            margin-top: -88px;
            padding: 30px 0;
        }

        > .view-content {
            margin-left: -15px;
            margin-right: -15px;

            .views-row {
                @extend .col-md-4;

                font-size: 22px;

                .row-container {
                    background: $color-white;
                    padding: 30px;
                    height: 350px;
                    margin-bottom: 30px;
                    position: relative;

                    .views-field-field-themenzuweisung {
                        padding-bottom: 10px;

                        img {
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }

                    .views-field-type {
                        color: $active-menu;
                    }

                    .views-field-title {
                        a {
                            text-decoration: none;
                            color: $main-color;
                        }
                    }

                    .views-field-field-datum {
                        position: absolute;
                        bottom: 30px;

                        .date-display-single {
                            font-size: 17px;
                            color: $color-light-grey;
                        }
                    }
                }
            }
        }

        .views-submit-button {
            display: none;
        }

        .view-map-teaser {
            clear: both;

            .view-content {
                margin: 0;

                .views-row {
                    @extend .col-md-8;

                    background: $main-color;
                    padding: 40px;

                    .views-field-field-bild img {
                        color: $active-menu;
                    }

                    .views-field-field-paragraph-title {
                        color: $color-white;
                        font-size: 38px;
                    }

                    .views-field-field-flie-text-bereich {
                        color: $color-white;
                    }

                    .views-field-field-quellenangabe a {
                        color: $color-white;
                    }
                }
            }
        }
    }
}

//---------------node-protagonist--------------//
.node-type-protagonist {
    background: $color-light-blue;

    .node-protagonist {
        @extend .container;

        .view-display-id-block_2 .views-row {
            .views-field-views-conditional {
                a {
                    text-decoration: none;
                }
            }

            .views-field-views-conditional-2 .field-content {
                font-size: 16px;
            }
        }

        .view-display-id-block_1 .views-row {
            .views-field-field-event-datum {
                .field-content {
                    color: $active-menu;
                    font-size: 22px;
                }
            }
        }
    }

    .field-name-field-weiterf-hrende-links {
        .field-label {
            font-size: 24px;
        }

        .field-items a.external-link {
            text-decoration: none;
            color: $main-color;
        }
    }
}

//-------------node-doorpage-----------//
.not-front .node-doorpage {
    .page-title {
        border: none;
        margin: 0;
    }

    .field-name-field-untertitel .field-item {
        color: $active-menu;
        font-size: 26px;
    }

    .field-name-field-kurztext .field-item {
        font-size: 22px;
    }

    .field-name-body {}

    .view-alle-themen-teaser {
        background: $color-light-blue;

        .view-sub-wrapper {
            @extend .container;

            .view-content {
                margin-left: -15px;
                margin-right: -15px;

                .term-title {
                    color: $main-color;
                    font-size: 28px;
                    padding-bottom: 40px;
                    padding-top: 40px;
                }

                p {
                    color: $main-color;
                }

                .views-row {
                    @extend .col-md-4;

                    padding: 10px;

                    .views-field-name a {
                        background: $main-color;
                        text-decoration: none;
                        padding: 10px;
                        font-size: 18px;
                        color: $color-white;
                        float: left;
                    }
                }
            }

            .view-footer {
                padding-top: 40px;
                clear: both;
                padding-bottom: 20px;

                a {
                    text-decoration: none;
                    color: $main-color;
                    position: relative;
                    padding-left: 30px;

                    &:before {
                        @extend .material-icons;

                        content: "arrow_forward";
                        color: $active-menu;
                        position: absolute;
                        top: 4px;
                        left: 2px;
                    }
                }
            }
        }
    }
}

//----------view-neueste-digital-projekte------------//
.view-neueste-digital-projekte {
    background: $header-dropdown-menu;

    .view-sub-wrapper {
        @extend .container;

        padding: 60px 0;
        position: relative;

        .view-header {
            .pane-title {
                color: $color-white;
                font-size: 28px;
                padding-bottom: 40px;
            }
        }

        .view-content {
            margin-left: -15px;
            margin-right: -15px;

            .views-row {
                @extend .col-md-4;

                .row-container {
                    background: $main-color;
                    padding: 25px;
                    height: 350px;

                    .views-field-field-themenzuweisung {
                        margin-bottom: 10px;

                        img {
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }

                    .views-field-type {
                        .field-content {
                            color: $active-menu;
                            font-size: 22px;
                        }
                    }

                    .views-field-title {
                        a {
                            color: $color-white;
                            text-decoration: none;
                            font-size: 22px;
                        }
                    }
                }
            }
        }

        .view-footer {
            padding-top: 40px;
            clear: both;

            a {
                text-decoration: none;
                color: $color-white;
                font-size: 20px;
                position: relative;
                padding-left: 30px;

                &:before {
                    @extend .material-icons;

                    content: "arrow_forward";
                    color: $active-menu;
                    position: absolute;
                    top: 4px;
                    left: 0;
                }
            }
        }
    }
}

// Article single view

.node-type-article {
    background-color: $color-light-blue;
}

.group-page-info {
    @extend .page_inner;

    padding: 30px 0;
}