.field-name-field-themenzuweisung{
padding-top:20px;
padding-bottom:40px;
  .field-label{
     font-size:20px;
	 color:$active-menu;
  }
 .field-items .field-item{
    @extend .col-md-4;

	padding-left:0;
	a{
	 font-size:20px;
	 text-decoration:none;
	 color:$header-menu;


	}
 
}
}

.field-name-field-untertitel{
   font-size:22px;
}



.field-name-field-quellenangabe{
  width:100%;
  clear:both;
  
  .field-label{
    font-size:20px;
	color:$active-menu;
  
  }
  
  .field-items{
    width:100%;
	clear:both;
  }
}

.paragraphs-items{

 .paragraphs-item-flie-text-bereich{
 
 
 }

}

.field-name-field-youtube-url{
  text-align:center;
}


//------------Aktuelles------------//
.page-aktuelles{
.region-content{ background:$color-light-blue;
.view-aktuelles {
 .view-filters{
   .views-exposed-form #edit-type-wrapper{ width:100%;
   .form-item{
     display:inline-block;
	 padding-right:20px;
   }
 }
 }

  .view-content{
    .views-row{
	  @extend .col-md-4;
	  padding: 10px;
    height: 200px;
	  .views-field-type{
	    color:$active-menu;
		font-size:22px;
	  }
	}
  }
  
  .views-submit-button{
     display:none;
  }
  }
}
}