// Single views inner container
$page-inner: 875px;
.page_inner{
	max-width:$page-inner;
	margin:0 auto;
}

$font-family-primary:"BentonSans-Regular";
$font-family-bold:"BentonSans-Bold";

$main-color:#273753;
// $header-menu:#273753;
$footer-menu:#616c81;
$header-shadow:#a2a2a2;
$header-dropdown-menu:#3c506e;

$header-mobile-border-line:#18243b;

$active-menu:#e74712;

$color-light-black:#45494c;

$color-light-grey:#949d9e;
$color-border:#dbdfe3;

$color-white:#ffffff;
$color-blue:#2783c0;
$color-light-blue:#eff2f7;

$color-link:#000000;

$single-border-color:#c5cbd5;
$banner-block-border:#314360;



$color-media-border-line:#738cac;
$background-header:#002e67;
$background-header-menu:#3d8fc6;
$background-header-hover:#529ccd;
$background-input:#d9d9d9;
$background-footer:#8e8e8e;
$background-light-blue:#e1ecee;
$pagination-active:#282828;
$currency-border-bottom:#66829c;
$background-search:#e3e3e3;
$light-blue-mobile-menu:#5da2d0;
$body-link-border-color:#6e798c;
$icons-color:#919BAA;
$single-view-border-color:#d2d6dc;
$download-icon-color:#8893a5;



