$font-family-primary:"NotoSansUI-Regular-webfont";
$font-family-bold:"NotoSansUI-Bold-webfont";
$font-family-italic:"NotoSansUI-Italic-webfont";
//$bold:700;
$bold-italic:700i;
$italic:400i;

$color-primary:#404040;
$color-black:#000000;
$color-light-black:#45494c;
$color-light-grey2:#bfcbd5;
$color-white:#ffffff;
$color-blue:#2783c0;
$color-light-blue:#e1ecee;
$color-light-green:#b2d503;
$color-green:#25a898;
$color-light-grey:#9d9d9d;
$frontpage-light-blue:#e7f1f8;
$color-link:#000000;
$color-border:#b3b3b3;
$color-cookie:#0779BF;
$color-hover:#11d1ef;
$color-border-line:#d2d2d2;
$color-media-border-line:#738cac;
$background-header:#002e67;
$background-header-menu:#3d8fc6;
$background-header-hover:#529ccd;
$background-input:#d9d9d9;
$background-footer:#8e8e8e;
$background-light-blue:#e1ecee;
$pagination-active:#282828;
$currency-border-bottom:#66829c;
$background-search:#e3e3e3;
$light-blue-mobile-menu:#5da2d0;


