footer {
    &.container {
        width: 100%;
        background-color: $color-white;

        //  margin-top:30px;
   
    }

    .region-footer {
        @extend .container;

        //block-ipwa-newsletter//
        .block-ipwa-newsletter {
            

            background: $main-color;
            padding:30px ;
            position: relative;
			
			@include devicebreak(x-large){
					 padding: 45px !important;
					}

            .block-title {
                color: $active-menu;
				margin-top:0;
            }

            .form-item-newsletter {
                .control-label {
                    color: $color-white;
                    padding-bottom: 30px;
                }

                .form-control {
                    border-radius: 0;
                    width:75%;
					height:40px;
					
					@include devicebreak(x-medium){
					 width: 70%;
					}
					@include devicebreak(large){
					 width: 53%;
					}
					@include devicebreak(x-large){
					  width: 45%;
					}
                }
            }

            .btn-default {
                border-radius: 0;
                background: $active-menu;
                color: $color-white;
                border: none;
                left:250px;
                position: absolute;                
                padding:20px;
				font-size:0;
				bottom:45px;
				
				@include devicebreak(x-medium){
					 left: 478px;
					 bottom:45px;
					 font-size:14px;
					 
					}					
					
					@include devicebreak(x-large){
					  left: 500px;
					  bottom: 60px;
					  font-size:14px;
					}
				
				&:before{
				 @extend .common-button;
				 color:$main-color !important;
				 border-bottom:0 !important;
				 top:10px !important;
				 left:-23px !important;
				}
            }
        }

        .block-ipwa-base {padding-top:30px;
		   
		   h2{
		     font-size:20px;
			 color:$main-color;
		   }
		
            #footer-icons-images {
                padding: 40px 0;

                div {
                    display: inline-block;
                    padding-right: 30px;
					padding-bottom:30px;
                }
            }
        }
    }

    // margin-top:40px;
    #block-menu-menu-footer-navigation {
        ul li {
            display: inline-block;

            a {
                color: $main-color;
                padding-left: 0;
                font-size: 18px;

                &:hover, &:focus {
                    background: none;
                    outline: none;
                    outline-offset: none;
                }
            }

            .open {
                a {
                    background: none;
                    border: none;

                    &:hover, &:focus {
                        background: none;
                        border: none;
                    }
                }
            }
        }
    }

    .footer-copyright {
        font-size: 18px;
        color: $main-color;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background: none;
    }
}