footer{
#block-menu-menu-footer-navigation{
  ul li{
    display:inline-block;
	 a{
	   color:$header-menu;
	   padding-left:0;
	   font-size:18px;
	   
	   
	   &:hover, &:focus{
	     background:none;
		 outline:none;
		 outline-offset:none;
	   }
	 }
	 .open {
                a {
                    background: none;
                    border: none;

                    &:hover, &:focus {
                        background: none;
                        border: none;
                    }
                }
            }
  }

}
}