@media (max-width: $screen-xs-max) {
footer{

#block-menu-menu-footer-navigation{
  ul{
  margin-left:-15px;
  margin-right:-15px;
  border-bottom:1px solid $color-light-blue;
    border-top:1px solid $color-light-blue;
  li{
    display:block;
	padding:20px;
	width:100%;
	border-bottom:1px solid $color-light-blue;
	a{
	 padding:0;
	}
  }

}
}
}
}