footer {
	&.container{
		width:100%;
		background-color:$color-white;
		padding:60px 0 40px;
		//  margin-top:30px;
	}
	.region-footer{
		@extend .container; 
	}
	// margin-top:40px;  
    #block-menu-menu-footer-navigation {
        ul li {
            display: inline-block;

            a {
                color: $main-color;
                padding-left: 0;
                font-size: 18px;

                &:hover, &:focus {
                    background: none;
                    outline: none;
                    outline-offset: none;
                }
            }

            .open {
                a {
                    background: none;
                    border: none;

                    &:hover, &:focus {
                        background: none;
                        border: none;
                    }
                }
            }
        }
    }

    .footer-copyright {
        font-size: 18px;
        color: $main-color;
    }
}