@media (max-width: 1024px) {
    header {
        &.navbar-default {
            padding-bottom: 10px;

            .container {
                .navbar-header {
                    .logo {
                        padding-left: 20px;
                        padding-right: 10px;

                        @include devicebreak(medium) {
                            padding-right: 20px;
                        }


                        .big {
                            display: none;
                        }

                        .small {
                            display: block;
                        }
                    }

                    .navbar-toggle {
                        border: none;
                        display: block;
                        position: absolute;
                        top: 20px;
                        right: 30px;
                        margin: 0;
                        padding: 0;
                        border-radius: 0;

                        @include devicebreak(medium) {
                            top: 25px;
                        }


                        &:hover, &:focus {
                            background: none;
                        }

                        &.active {
                            .icon-bar {
                                background: $active-menu;
                            }
                        }
                    }
                }

                .navbar-collapse {
                    position: absolute;
                    z-index: 9999;
                    background: $color-white;
                    width: 100%;
                    top: 50px;
                    -webkit-box-shadow: 0px 15px 17px 0px rgba(0, 0, 0, 0.4);
                    -moz-box-shadow: 0px 15px 17px 0px rgba(0, 0, 0, 0.4);
                    box-shadow: 0px 15px 17px 0px rgba(0, 0, 0, 0.4);

                    @include devicebreak(medium) {
                        top: 58px;
                    }


                    @include devicebreak(x-medium) {
                        margin: 0;
                        top: 58px;
                    }


                    .search-icon {
                        padding: 20px;
                        width: 100%;
                        text-align: left;
                        border-bottom: 1px solid $color-light-grey;
                        background-color:$color-light-blue;
						
						&.active{
					     background-color: $color-search-background;
						   color:$color-white;
						}
                    }

                    ul.navbar-nav {
                        width: 100%;
                        float: left;
                        margin: 0;

                        > li {
                            padding: 20px;
                            border-bottom: 1px solid $color-light-grey;
                            text-align: left;
                            background-color: $color-light-blue;

                            a {
                                padding: 0;
                            }
                        }
                    }

                    .region-navigation {
                        padding-top: 0;

                        .block-ipwa-search #ipwa-search-block-form {
                            width: 100%;
                            padding: 0 15px;

                            .cross-link {
                                right: 20px;
                            }

                            .form-group .form-control {
                                width: 100%;
                            }

                            .btn-primary::before {
                                position: absolute;
                                right: 23px;
                            }
                        }

                        .tb-megamenu {
                            .btn-navbar {
                                display: none;
                            }

                            .nav-collapse {
                                height: auto !important;
                                display: block;
                                background: 0;
                                position: static;
                                margin: 0;
                            }

                            ul.tb-megamenu-nav {
                                > li.dropdown.open > a {
                                    border-bottom: none;
                                }

                                > li.active > a {
                                    border-bottom: 0;
                                    padding-bottom: 20px;
									border-left:4px Solid $active-menu;
									
									
                                }

                                > li {
                                    width: 100%;
                                    border-bottom: 1px solid $color-light-grey;

                                    > a {
                                        border: 0;
                                        width: 100%;
                                        padding: 20px;
                                        margin: 0;
                                        // font-weight: bold;
                                        cursor: pointer;
                                        display: block;
                                        padding-left: 75px;
										border-left:4px solid transparent;

                                        &:before {
                                            margin-top: 0;
                                            top: 10px;
                                            left: 20px;
                                        }
                                    }

                                    .tb-megamenu-submenu {
                                        display: none;
                                        padding-top: 0;
                                        padding-bottom: 10px;
                                        position: relative;

                                        .mega-dropdown-inner {
                                            width: auto;

                                            .tb-submenu-left {
                                                cursor: pointer;
                                                width: 100%;

                                                .mega-inner {
                                                    padding: 0;
                                                    width: auto;
                                                    border-bottom: 1px solid $header-mobile-border-line;
                                                    border-top: 1px solid $header-mobile-border-line;

                                                    .tb-block {
                                                        margin-bottom: 0;
                                                    }
                                                }

                                                h3.block-title {
                                                    padding: 20px;
                                                    margin-bottom: 0;
                                                }

                                                ul li {
                                                    padding: 20px;
                                                    margin-bottom: 0;
                                                    border-top: 1px solid $header-mobile-border-line;
                                                    background: $main-color;

                                                    a {
                                                        border-top: 0;
                                                        padding-left: 0;

                                                        &:before {
                                                            display: none;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .tb-submenu-right {
                                            width: 100%;
                                            clear: both;
                                            margin-left: 10px;

                                            .mega-inner {
                                                padding-top: 20px;
                                                width: auto;

                                                .view-themenzuweisung-flyouts {
                                                    .view-header {
                                                        padding-bottom: 10px;
                                                    }

                                                    .view-content .views-row a {
                                                        border-top: 0;
                                                        white-space: normal !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 520px) {
    header .navbar-header {
        .logo {
            padding: 0 10px;

            .small {
                width: 100px;
            }
        }

        a img {
            width: 125px;
        }
    }
}