header {
    &.navbar-default {
        width: 100%;
        border: none;
		border-radius:0;
        position: relative;
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
		padding:10px 0 0;
		margin-bottom:30px;
    }

    

        .navbar-header {
            .navbar-brand {
                display: none;
            }
        }

        .nrw-eu-logo {
            a {
                margin-top: 8px;
                margin-bottom: 8px;
                float: left;
                padding-left: 25px;
            }
        }

        .navbar-collapse {
            padding: 0;
            text-align: right;

            ul.navbar-nav {
                display: inline-block;
                float: none;

                li {
                    &.active {
                        a, a:hover, a:focus, a:active {
                            background: none;
                            color: $active-menu;
                        }
                    }

                    &.open {
                        > a {
                            background: none;
                            color: $active-menu;

                            &:hover, &:focus {
                                background: none;
                            }
                        }
                    }

                    a {
                        color: $main-color;
                        font-size: 18px;

                        &:hover, &:focus {
                            background: none;
                            border: none;
                        }
                    }
                }
            }

            .search-icon {
                display: inline-block;
                position: relative;
                float: right;
                padding: 15px;
                cursor: pointer;
                font-size: 18px;

                &:before {
                    font-family: $icomoon;
                    content: "\e94e";
                    color: $icons-color;
                    font-size: 15px;
                    margin-right: 10px;
                    display: inline-block;
                }

                &.active {
                    background: #6d7c98;
                    color: $color-white;

                    &:before {
                        color: $color-white;
                    }
                }
            }

            .region-navigation {
                text-align: left;
                width: 100%;
                clear: both;
                padding-top: 40px;

                .block-ipwa-search {
                    position: absolute;
                    padding: 43px 0;
                    width: 100%;
                    top: 64px;
                    left: 0;
                    background-color: rgba(94, 110, 141, 0.9);
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
                    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
                    transition: opacity 0.3s 0s, visibility 0s 0.3s;
                    z-index: 999;

                    &.is-visible {
                        opacity: 1;
                        visibility: visible;
                        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
                        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
                        transition: opacity 0.3s 0s, visibility 0s 0s;
                    }

                    #ipwa-search-block-form {
                        position: relative;
                        margin: 0 auto;
                        width: 700px;

                        .cross-link {
                            position: absolute;
                            cursor: pointer;
                            right: 3px;
                            top: -25px;

                            a {
                                text-decoration: none;
                                color: $color-white;
                                font-size: 10px;

                                &:after {
                                    font-family: $icomoon;
                                    content: "\e903";
                                    color: $icons-color;
                                    font-size: 16px;
                                    margin-left: 7px;
                                    display: inline-block;
                                }
                            }
                        }

                        .control-label {
                            display: none;
                        }

                        .form-group {
                            margin-bottom: 0;

                            .form-control {
                                height: 40px;
                                width: 700px;
                                border-radius: 0;
                                font-weight: bold;
                            }
                        }

                        .btn-primary {
                            position: absolute;
                            top: 4px;
                            right: 0;
                            font-size: 0;
                            background: none;
                            border: none;

                            &:before {
                                font-family: $icomoon;
                                content: "\e94e";
                                color: $icons-color;
                                font-size: 16px;
                                margin-left: 7px;
                                display: inline-block;
                            }
                        }
                    }
                }

                .tb-megamenu {
                    background: none;
                    position: static;

                    ul.tb-megamenu-nav li {
                        width: 20%;
                        position: static;

                        > a {
                            color: $main-color;
                            border-right: none;
                            font-size: 20px;
                            padding: 0;
                            margin-bottom: 20px;
                            margin-left: 55px;
                            position: relative;
                            width: 60%;
                            font-weight: bold;
							border-bottom:2px solid transparent;

                            .caret {
                                display: none;
                            }

                            &:before {
                                content: "";
                                width: 45px;
                                height: 45px;
                                display: inline-block;
                                float: left;
                                margin-top: 5px;
                                padding-left: 0;
                                margin-right: 10px;
                                left: -55px;
                                position: absolute;
                            }
                        }

                        &.menu-politik > a {
                            &:before {
                                background: url("../images/politik.png") no-repeat;
                            }
                        }

                        &.menu-wirtschaft > a {
                            &:before {
                                background: url("../images/wirtschft.png") no-repeat;
                            }
                        }

                        &.menu-unternehmen > a {
                            &:before {
                                background: url("../images/infos.png") no-repeat;
                            }
                        }

                        &.menu-beschaftigte > a {
                            &:before {
                                background: url("../images/Bescha.png") no-repeat;
                            }
                        }

                        &.menu-schaufenster > a {
                            &:before {
                                background: url("../images/Digitales.png") no-repeat;
                            }
                        }

                        &.open > a {
                            background: none;
                            border: none;
                            color: $active-menu;

                            &:hover, &:focus {
                                background: none;
                                border: none;
                                color: $active-menu;
                            }

                            &:before {
                                content: "";
                                width: 45px;
                                height: 45px;
                                display: inline-block;
                                float: left;
                                margin-top: 5px;
                            }
                        }

                        &.open.menu-politik > a {
                            &:before {
                                background: url("../images/politik-active.png") no-repeat;
                            }
                        }

                        &.open.menu-wirtschaft > a {
                            &:before {
                                background: url("../images/wirtschft-active.png") no-repeat;
                            }
                        }

                        &.open.menu-unternehmen > a {
                            &:before {
                                background: url("../images/infos-active.png") no-repeat;
                            }
                        }

                        &.open.menu-beschaftigte > a {
                            &:before {
                                background: url("../images/Bescha-active.png") no-repeat;
                            }
                        }

                        &.open.menu-schaufenster > a {
                            &:before {
                                background: url("../images/Digitales-active.png") no-repeat;
                            }
                        }

                        &.active > a {
                            background: none;
                            color: $active-menu;
                            padding-bottom: 0;
                            border-bottom: 2px solid $active-menu;

                            &:before {
                                background: url("../images/Digitales-active.png") no-repeat;
                                content: "";
                                width: 45px;
                                height: 45px;
                                display: inline-block;
                                float: left;
                                margin-top: 5px;
                            }
                        }

                        &.dropdown.open > a {
                            border-bottom: 2px solid $active-menu;
                        }

                        .dropdown-menu {
                            background-color: $header-dropdown-menu;
                            border: none;
                            width: 100%;
                            padding-top: 40px;
                            padding-bottom: 40px;

                            a {
                                color: $color-white;
                                text-decoration: none;
								font-weight:normal;
                            }

                            .block-title {
                                color: $color-white;
                            }

                            .view-themenzuweisung-flyouts {
                                .view-header {
                                    color: $color-white;
                                    font-size: 18px;
                                }

                                .view-content .views-row {
                                    display: inline-block;
                                    padding: 5px;

                                    a {
                                        background: $main-color;
                                        font-size: 16px;
                                        padding: 10px;

                                        &:hover {
                                            background: $active-menu;
                                        }
                                    }
                                }
                            }
                        }

                        .mega-dropdown-inner {
                            width: 1170px;
                            margin: 0 auto;

                            .tb-submenu-left {
                                width: 30%;
                                float: left;

                                .block-title {
                                    font-size: 18px;
                                    font-weight: normal;
                                    text-transform: capitalize;
                                }

                                ul {
                                    li {
                                        width: 100%;
                                        margin-bottom: 10px;

                                        a {
                                            font-size: 16px;
                                            position: relative;
                                            padding-left: 25px;
                                            margin: 0;
											font-weight:normal;

                                            &:before {
                                                font-family: $icomoon;
                                                content: "\e93f";
                                                color: $active-menu;
                                                font-size: 12px;
                                                position: absolute;
                                                left: 0;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                            }

                            .tb-submenu-right {
                                width: 70%;
                                float: left;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    
}

.front {
	header {
		&.navbar-default {
			margin-bottom:0;
		}
	}
}

//desktop

@media (min-width: $screen-sm-min) {
    .navbar-header {
        .logo {
            .big {
                display: block;
            }

            .small {
                display: none;
            }
        }
    }
}



