/**
 * Project: Map Ipwa Copyright: ]init[ AG , Germany 2017
 * @author Paolo Favero
 */

.footer_map {
  .map-popup {
    background-color: $dark-blue;
    color: $white;
    border: 0;
    position: absolute;
    top: 40px;
    left: $map-width-btn-close;
    z-index: 101;
    width: 370px;
    font-size: 17px;
  }

  .map-btn-close {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: center;
    vertical-align: middle;
    color: $white;
  }

  .map-btn-close {
    font-size: 26px;
    padding-top: 6px;

    span::after {
      content: '\00d7';
    }
  }

  .map-popup-content {
    padding: 30px;
    border: 1px solid $light-gray;
  }

  h2 {
    color: $orange;
    // font-weight: bold;
    font-size: 18px;
  }

  /* content of the popup *******************************************************/
  .arrow-nav {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: right;
  }

  .btn-go-backward,
  .btn-go-forward {
    background-color: transparent;
    margin-left: 15px;
    border: 0;

    &.disabled {
        color: #ccc;
    }
  }

  /* content type *****************************************************************/
  .div-topic > div {

  }
  
  .menu-politik::before {
    content: "\e94b";
  }
  .menu-wirtschaft::before {
    content: "\e947";
  }
  .menu-unternehmen::before {
    content: "\e943";
  }
  .menu-beschaftigte::before {
    content: "\e905";
  }
  .menu-schaufenster::before {
    content: "\e910";
  }

  .txtf-desc {
    margin-bottom: 20px;
  }
}
