/**
 * Project: Map Ipwa Copyright: ]init[ AG , Germany 2017
 * @author Paolo Favero
 */

.footer_map {
  .map-popup {
    display: none;
    background-color: $dark-blue;
    color: $light-gray;
    border: 0;
    position: absolute;
    top: 220px;
    left: 100px;
    z-index: 101;
    width: 370px;
    font-size: 17px;
    
    @media screen and (max-width: 1024px) {
      left: calc(50% - 185px);
      top: 115px;
    }
    
    @media screen and (max-width: 370px) {
      width: 100%;
      left: 0;
      top: -15px;
    }
  }

  .map-btn-close {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: center;
    vertical-align: middle;
    color: $light-gray;
  }

  .map-btn-close {
    font-size: 26px;
    padding-top: 6px;

    span::after {
      content: '\00d7';
    }
  }

  .map-popup-content {
    padding: 30px;
    border: none;
  }

  h2 {
    color: $orange;
    font-size: 18px;
  }

  /* content of the popup *******************************************************/
  .arrow-nav {
    font-size: 17px;
    position: absolute;
    top: 10px;
    right: 43px;
    text-align: right;
  }

  .btn-go-backward,
  .btn-go-forward {
    background-color: transparent;
    margin-left: 10px;
    border: 0;

    &.disabled {
        color: #777673;
    }
  }

  .div-topic {
    margin-bottom: 20px;
  }

  .div-topic > img {
    width: 40px;
  }
  
  /* .txtf-conditional1 {
    color: $orange;
  } */
  
  .txtf-desc {
    margin-bottom: 40px;
  }
}
